/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
}
/* tamanho da mesa
serão 10 cartas por página*/

.board{
  width:1100px;
  height: 620px;
  background-image:  linear-gradient(rgb(0, 0, 0),rgb(44, 10, 82));
}
.carta1{
    width:200px;
    height:280.8px;
    position:absolute;
    top:20px;
    left:20px;
    background-image: url(/imagens/fundo\ carta.png);
}
.carta2{
    width:200px;
    height:280.8px;
    position:absolute;
    top:20px;
    left:225px;
    background-image: url(/imagens/fundo\ carta.png);
}
.carta3{
    width:200px;
    height:280.8px;
    position:absolute;
    top:20px;
    left:430px;
    background-image: url(/imagens/fundo\ carta.png);
}
.carta4{
    width:200px;
    height:280.8px;
    position:absolute;
    top:20px;
    left:635px;
    background-image: url(/imagens/fundo\ carta.png);
}
.carta5{
    width:200px;
    height:280.8px;
    position:absolute;
    top:20px;
    left:840px;
    background-image: url(/imagens/fundo\ carta.png);
}
.carta6{
    width:200px;
    height:280.8px;
    position:absolute;
    top:320px;
    left:20px;
    background-image: url(/imagens/fundo\ carta.png);
}
.carta7{
    width:200px;
    height:280.8px;
    position:absolute;
    top:320px;
    left:225px;
    background-image: url(/imagens/fundo\ carta.png);
}
.carta8{
    width:200px;
    height:280.8px;
    position:absolute;
    top:320px;
    left:430px;
    background-image: url(/imagens/fundo\ carta.png);
}
.nome{
    position: relative;
    top:14px;
    left:22px;
}
.imagem1{
    position: relative;
    top:00px;
    left:20px;
    width:162px;
    height:120px;
    background-image: url(/imagens/imagem1svg.svg);
}
.custo{
    position: relative;
    top:-3px;
    left:152px;
 }